#displayPane{
    -fx-background-image: url("oculus.JPG");
    -fx-background-repeat: stretch;
    -fx-background-size: 379 108;
    -fx-background-position: center;
    -fx-background-color: white;
}
#waitingListBox{
    -fx-background-color: powderblue;
}

