#displayPane{
    -fx-background-image: url("/res/oculus_logo_reflect.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 416 175;
    -fx-background-position: center;
    -fx-background-color: white;
}
#waitingListBox{
    -fx-background-color: powderblue;
}
#newPatientPane{
    -fx-background-color: powderblue;
}
#patientRecordPane{
    -fx-background-color: powderblue;
}
#searchPatientPane{
    -fx-background-color: powderblue;
}
