<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>RedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAppointmentController</servlet-name>
        <servlet-class>CreateAppointmentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateAppointmentController</servlet-name>
        <url-pattern>/CreateAppointmentController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmAppointmentController</servlet-name>
        <servlet-class>ConfirmAppointmentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfirmAppointmentController</servlet-name>
        <url-pattern>/ConfirmAppointmentController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAppointmentController</servlet-name>
        <servlet-class>DeleteAppointmentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteAppointmentController</servlet-name>
        <url-pattern>/DeleteAppointmentController</url-pattern>
    </servlet-mapping>
</web-app>